---
layout: default
---
<div class="row">
  <div class="col-12 col-lg-11 col-xl-8">
    <div id="page" class="post pb-5 pl-1 pr-1 pl-sm-2 pr-sm-2 pl-md-4 pr-md-4 mb-md-4">
      <h1 class="dynamic-title">{{ page.title }}</h1>
      <div class="post-content">
        <!-- content -->
        My name is Phuc, and I live in Ho Chi Minh City, Vietnam.
        I graduated from Hoa Sen University with a degree in Information Technology. I have been starting working as web developer since July 2018.

        <!-- Experience timeline -->
        <div class="container">
          <h2>Timeline</h2>
          <div class="row">
            <div class="col-md-12">
              <div class="main-timeline8">
                <div class="timeline">
                    <span class="timeline-icon"></span>
                    <span class="year">October 2018 - Present</span>
                    <div class="timeline-content">
                        <h3 class="title">Web Developer - Zigexn VeNtura</h3>
                        <p class="description">
                          <ul>
                            <li>Working in sharing economy product of company, 10 members team</li>
                            <li>Shipping new features, bug-fixes in every 2-week sprint</li>
                            <li>Using Apache Solr as search engine</li>
                            <li>Run application with over million products</li>
                            <li>Updating and importing list products everyday</li>
                          </ul>
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <span class="timeline-icon"></span>
                    <span class="year">July 2018 - October 2018</span>
                    <div class="timeline-content">
                        <h3 class="title">Intership</h3>
                        <p class="description">
                          <p style="margin: 0;">Learn web basic knowledge (HTML, CSS, Javascript)</p>
                          <p style="margin: 0;">Learn Ruby programming</p>
                          <p style="margin: 0;">Practice Rails Tutorial - Michael Hartl</p>
                          <p style="margin: 0;">Do a practical project - VeNJob</p>
                        </p>
                    </div>
                </div>
                <div class="timeline">
                  <span class="timeline-icon"></span>
                  <span class="year">2010 - 2016</span>
                  <div class="timeline-content">
                      <h3 class="title">Software Engineer Degree - Hoa Sen University</h3>
                      <p class="description">
                        <ul>
                          <li>Study field: Software Engineering</li>
                          <li>Degree rank: Good</li>
                          <li>English: IELTS 5.0</li>
                        </ul>
                      </p>
                  </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Experience timeline end-->

        <p>-- to be continued --</p>
        <!-- content -->
      </div>
    </div> <!-- #page -->
  </div><!-- .col-12 -->


</div>